<p>detalle restaurante!</p>
<div class="d-flex justify-content-between me-5 ms-5">
  <div class="md-flex justify-content-start h2">Nombre del restaurante</div>
  <div class="d-flex justify-content-end">
    <button class="me-3">editar</button>
    <button>reservar</button>
  </div>
</div>
<hr class="me-5 ms-5 border border-primary border-3 opacity-50" />
<div class="w-100 h-auto">
  <div class="d-flex w-auto ms-5 me-5 h-auto">
    <div class="bg-primary w-100 h-auto">imagen<a href=""></a></div>
    <div class="w-100 h-auto">
      <div class="bg-success">descripcion</div>
      <div class="bg-info">telefono</div>
    </div>
  </div>
  <!--servicios banner inferior-->
  <div class="bg-warning me-5 ms-5 d-flex">
    <div class="fila1 me-3 ms-5">
      <div>
        <div class="ms-5 me-5 bg-info">servicio1</div>
      </div>
      <div>
        <div class="ms-5 me-5 bg-success">servicio2</div>
      </div>
      <div>
        <div class="ms-5 me-5 bg-primary">servicio3</div>
      </div>
      <div>
        <div class="ms-5 me-5 bg-info">servicio1</div>
      </div>
      <div>
        <div class="ms-5 me-5 bg-success">servicio2</div>
      </div>
      <div>
        <div class="ms-5 me-5 bg-primary">servicio3</div>
      </div>
    </div>
  </div>
</div>
