<p>Perfil Usuario</p>
<div class="w-100 h-100">
  <div class="d-flex justify-content-between me-5 ms-5">
    <div class="md-flex justify-content-start h2">Nombre Apellido</div>
    <div class="d-flex justify-content-end">
      <button class="m-1 me-2 btn btn-secundary">Editar</button>
      <button class="m-1 btn btn-primary">Reservar</button>
    </div>
  </div>
  <hr class="border border-primary border-2" />
  <div class="w-100 h-100">
    <div class="d-flex align-self-center me-5 ms-5 border border-1 border-secondary">
      <div class="w-25">
        <div class="border border-1 p-3 w-100 h-100 bg-grey">
          <p>imagen</p>
        </div>
      </div>
      <div class="w-100 h-auto d-flex">
        <div class="w-100 h-auto">
          <div class="border border-1 p-3 w-100 h-50">
            <p>Edad</p>
            <p>Género</p>
          </div>
          <div class="border border-1 p-3 w-100 h-50">
            <p>Dirección</p>
            <p>Código Postal</p>
          </div>
        </div>
        <div class="w-100 h-auto">
          <div class="border border-1 p-3 w-100 h-50">
            <p>Discapacidad</p>
            <p>Grado de discapacidad</p>
          </div>
          <div class="border border-1 p-3 w-100 h-50">
            <p>Email</p>
            <p>Password</p>
          </div>
        </div>
      </div>
    </div>
    <!--Reservas-->
    <div class="me-5 ms-5 border border-2 border-success p-3">
      <h4 class="d-flex justify-content-center m-2 p-2">Reservas</h4>
      <div class="d-flex justify-content-center">
        <table class="table table-bordered text-center">
          <thead>
            <tr class="cabeceras table border border-1 bg-light">
              <th class="m-3 p-2 col">Nombre del restaurante</th>
              <th class="m-3 p-2 col">Fecha de la reserva</th>
              <th class="m-3 p-2 col">Servicios</th>
              <th class="m-3 p-2 col">Instrucciones especiales</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="m-3 p-2 col">sin datos</td>
              <td class="m-3 p-2 col">sin datos</td>
              <td class="m-3 p-2 col">sin datos</td>
              <td class="m-3 p-2 col">sin datos</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
