<div class="footer text-white bg-dark">
  <div class="menuFooter d-flex justify-content-around pt-5 mb-4">
    <div class="menu1 fw-light d-flex flex-column align-items-center">
      <p>Nuestra Empresa</p>
      <p>Quienes Somos</p>
      <p>Trabaja con Nosotros</p>
    </div>
    <div class="menu2 fw-light d-flex flex-column align-items-center">
      <p>Contacta</p>
      <p>Preguntas Frecuentes</p>
      <p>Ayuda / Soporte</p>
    </div>
    <div class="menu3 fw-light d-flex flex-column align-items-center">
      <p>Política de Privacidad</p>
      <p>Aceptación de Cookies</p>
      <p>Aviso Legal</p>
    </div>
  </div>
  <hr class="border border-white border-1 opacity-10" />
  <div class="menu4 d-flex justify-content-center pt-3 fst-italic">
    <p>Todos los derechos reservados a Table4All.</p>
  </div>
</div>
