<main class="d-flex justify-content-center align-content-center p-4">
  <div class="container text-center">
    <div class="row">
      <div class="col">Row1Col1</div>
      <div class="col">Row1Col2</div>
      <div class="col">Row1Col3</div>
      <div class="col">Row1Col4</div>
    </div>
    <div class="row">
      <div class="col">Row2Col1</div>
      <div class="col">Row2Col2</div>
      <div class="col">Row2Col3</div>
      <div class="col">Row2Col4</div>
    </div>
    <div class="row">
      <div class="col">Row3Col1</div>
      <div class="col">Row3Col2</div>
      <div class="col">Row3Col3</div>
      <div class="col">Row3Col4</div>
    </div>
  </div>
</main>
