<main class="d-flex justify-content-center align-content-center p-4">
  <div class="background d-flex flex-column align-items-center justify-content-between rounded">
    <div class="d-flex justify-content-center align-content-center">
      <div class="bg-light p-2 mt-3 rounded d-flex flex-column align-items-center justify-content-between">
        <h1 class="mb-0">Restaurants</h1>
      </div>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col">Row1Col1</div>
        <div class="col">Row1Col2</div>
        <div class="col">Row1Col3</div>
        <div class="col">Row1Col4</div>
      </div>
      <div class="row">
        <div class="col">Row2Col1</div>
        <div class="col">Row2Col2</div>
        <div class="col">Row2Col3</div>
        <div class="col">Row2Col4</div>
      </div>
      <div class="row">
        <div class="col">Row3Col1</div>
        <div class="col">Row3Col2</div>
        <div class="col">Row3Col3</div>
        <div class="col">Row3Col4</div>
      </div>
    </div>
  </div>
</main>
